/* Home.css */

.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh; /* Minimum height of 100% viewport height */
  padding: 20px;
  margin: 20px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  animation: fadeIn 2s ease-in-out;
  background-color: black;
}

.person-image-container {
  width: 100%; /* Adjust width as necessary */
  max-width: 600px; /* Maximum width for image container */
  height: auto; /* Automatically adjust height */
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 20px; /* Add margin bottom for spacing */
}

.logo-image,
.person-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px; /* Rounded corners for images */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft box shadow for depth */
}

.estimate-container {
  color: white;
  margin-bottom: 20px; /* Add margin bottom for spacing */
}

/* Keyframes animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Media Queries for Responsive Design */

@media (max-width: 768px) {
  .home-container {
    padding: 10px;
    margin: 10px;
  }

  .person-image-container {
    margin-bottom: 10px; /* Reduce margin bottom for spacing */
  }
}
