body {
  font-family: 'Roboto', sans-serif; /* Modern sans-serif font */
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

main {
  padding: 20px;
}

footer {
  background-color: #2C3E50; /* Match the navbar background color */
  color: #ECF0F1; /* Light text color */
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}

footer p {
  margin: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
